.user-block {
  display: flex;
  align-items: center;
  flex: 1 1 0px;
  img {
    height: 55px;
    object-fit: cover;
    border-radius: 4px;
  }

  .user-name {
    margin-left: 20px;
  }

  .repo-count {
    margin-left: auto;
  }
}
