.repo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-info {
  display: flex;
  flex-direction: column;
}

.repo-info > span {
  margin: 2px 5px;
  text-align: end;
}